.title{
    text-align: center;
  }
  
.me{
    font-size: 55px;
    text-transform: capitalize;
    padding-top: 30px;
}
.about-me{
    margin: 0 20px;
  
    & p{
        margin-top: 20px;
        line-height: 30px;
    }
}