.title{
    text-align: center;
}

.title span{
    color: rgb(196, 5, 5);
    text-shadow: -1px 1px 0px black;
}

.title p{
    font-size: 3vw;
}

.me{
    font-size: 8vw;
    text-transform: capitalize;
    padding-top: 2vh;
    font-family: "Permanent marker", Helvetica, sans-serif;
}

.about-me{
    margin: 8vh 2vw;
}
.about-me p{
    font-size: 2vw;
}