.contact{
    background: var(--main-red);
}

.media{
    display: flex;
    justify-content: center;
}

.media li{
    margin: 20px 50px;
    list-style: none;
}

.media li a{
    display: inline-block;
    transition: 0.25s;
}

.media li a:hover{
    transform: scale(1.25);
}

.media li a img{
    width: 5vw;
    height: calc(width);
}

.icon-links{
    font-size: 1vw;
    font-style: italic;
}