.proyects-container{
    margin-top: 8vh;
    display: flex;
    justify-content: space-around;
}

.proyects-container img{
  height: 100%;
}

.proyects-container img:hover{
  opacity: 0.7;
}

.proyects-container a img{
  border-radius: 8px;
  width: 25vw;
  border: solid 6px rgb(87, 3, 3);
}