.proyects-container{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    margin: 50px 10px;
}

.proyects-container a img{
  border-radius: 5px;
  width: 25vw;
}

.proyects-container a img{
  border-radius: 5px;
  width: 25vw;
}
.proyects-container img:hover{
  opacity: 0.7;
}